.cart{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: auto;
}
.cart-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #111111;
    font-size: 16px;
    font-weight: 900;
    
}
.cart-items-title img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}
.cart-items-title p{
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;

    
}
.cart-items-title p:last-child{
    cursor: pointer;
    margin-left: 20px;
}
.cart-items-title p:last-child:hover{
    color: red;
}
.cart-items-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}
.cart-items-item img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
}
.cart-items-item p{
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
}
.cart-items-item p:last-child{
    cursor: pointer;
}
.cart-items-item p:last-child:hover{
    color: red;
}
.cart-items-item p:last-child:hover{
    color: red;
}   
.cart-items-item p:last-child:hover{
    color: red;
}   
.cart-items-item p:last-child:hover{
    color: red;
}   
.cart-bottom{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: auto;
}
.cart-total{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #111111;
    font-size: 16px;
    font-weight: 900;
    
}
.cart-total button{
    background-color: tomato;
    color: #111111;
    border: 1px solid #111111;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    padding: 5px;  
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.cart-total button:hover{
    background-color: #48b300;
}
.cart-total button:active{
    background-color: #0056b3;
}

