.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4%;
    box-shadow: -1px 1px 5px -2px #0000004d;
    background-color: #fff;
}
.navbar .logo{
    width: 140px;
}
.navbar .profile{
    width: 40px;
    border-radius: 50%;
}